name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: "1.8.3"

      - name: Install dependencies
        run: poetry install --with dev

      - name: Ruff
        run: poetry run ruff check .

      - name: Black
        run: poetry run black --check .

      - name: MyPy
        run: poetry run mypy src

      - name: Pytest
        run: poetry run pytest

